.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.dribbble.com/users/963319/screenshots/7867556/media/9fc3a0a46a1ef7a1bc115900a9708f23.gif");
  background-size: contain;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.btn {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: 0.8s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.24);
}
